*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.05em;
}

body{
    background-image: url('imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{
    margin: 30px 30px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_box{
    width: 70vw;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

#search_box, #search_btn, .new_card, .addedCard{
    border: 1.5px solid black;
}

#search_box::placeholder{
    font-style: italic;
}

#search_box:focus{
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}

#search_btn{
    position: relative;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

#search_icon{
    position: absolute;
    width: 18px;
    height: 18px;
    align-items: center;
    top: 18%;
    left: 18%;
}

#search_box:hover, #search_btn:hover{
    border: 2px solid rgb(40, 61, 95);
    background-color: rgba(222, 232, 247, 0.896);
}

.error p{
    display: none;
    margin-left: 45px;
    color: rgb(123, 123, 123);
    font-style: italic;
    font-weight: 400;
}

.welcome{
    width: 82vw;
    margin: 70px 30px 5px;
    background-color: rgba(253, 253, 218, 0.945);
    padding: 30px;
    border-radius: 12%;
}

.welcome h2{
    letter-spacing: 0;
}

.welcome h2, #enjoy{
    text-align: center;
    font-weight: 700;
}

.welcome h3{
    font-weight: 400;
    padding-top: 15px;
}

#enjoy{
    padding-top: 30px;
}

.allAddedCards{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin: 60px 30px;
    gap: 20px;
    width: 84vw;
}

.addedCard{
    flex: 0 0 auto;
    box-sizing: border-box;
    scroll-snap-align: start;
    background-image: url('imgs/card2.jpg');
    height: 100%;
}

.card{
    display: none;
    margin: 60px 30px;
}

.new_card, .addedCard{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-size: cover;
    width: 84vw;
}

.new_card{
    background-image: url('imgs/card.jpg');
}

.add_btn, .delete_btn{
    position: relative;
    align-self: end;
    background-color: white;
    border-radius: 50%;
    margin: 15px;
    width: 32px;
    height: 32px;
}

.add_btn:hover, .delete_btn:hover{
    border: 1px solid rgb(193, 215, 251);
    background-color: rgb(172, 200, 249);
}

#add_icon, #remove_icon{
    position: absolute;
    width: 22px;
    height: 22px;
    align-items: center;
    top: 15%;
    left: 15%;
}

.weather{
    width: 50vw;
    height: 100%;
    align-self: center;
    margin: 10px;
}

.city_data{
    background-color: rgba(255, 255, 255, 0.715);
    border-radius: 140px 140px 20px 20px;
}

.city{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 42px;
}

.data{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    font-size: 18px;
}

.space{
    border-left: 1.5px solid black;
    height: 15px;
    margin: 3px 10px;
}

#humidity_icon{
    width: 15px;
    height: 15px;
    margin: 3px 3px 0px 0px;
}

.temp_data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 35px;
}

.temp_data img{
    width: 28px;
    height: 28px;
}

.sun_time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp{
    font-size: 55px;
    font-weight: 500;
    margin: 0px 30px;
}

@media (min-width: 768px){
    .search{
        margin-top: 50px;
    }

    .welcome{
        width: 60vw;
    }

    .new_card{
        margin-top: 100px;
        width: 45vw;
    }

    .weather{
        width: 26vw;
    }

    .addedCard{
        scroll-snap-align: none;
        width: 34vw;
    }

    .addedCard .weather{
        width: 18vw;
    }

    .addedCard .space{
        margin: 3px 5px;
    }

    .temp{
        font-size: 45px;
    }

    .allAddedCards{
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}

@media (min-width: 1024px){
    .new_card{
        width: 36vw;
    }

    .weather{
        width: 20vw;
    }

    .addedCard{
        width: 28vw;
    }

    .addedCard .weather{
        width: 14vw;
    }
} 